<% if @gossip.save %>
<div class="alert alert-success" role="alert">
  <p>Le potin a bien été ajouté !</p>
  </div>
<% end %> 

<br/>
<h2 class="h1_welcome text-black"><%= "Restons discrets, #{current_user.first_name} :)"%></h2>

<h3 class="h1_welcome">Voici la liste des potins</h3>

<hr>

<div class="row bg-dark mt-5">
  <% Gossip.all.sort.each_with_index do |gossip, index|  %>
    <div class="col-sm-4 w-25 mx-auto">
      <div class="card border-dark text-center text-white bg-secondary">
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text"><%= gossip.user.first_name %></p>
          <%= link_to "Potin n°#{gossip.id}", gossip_path(gossip.id), class:"btn btn-dark" %>
        </div>
      </div>
      <br/>
    </div>
  <% end %>
</div>
